@model DS.Domain.ChangePasswordModel
@{
    ViewBag.Title = "Password - User admin - DataShare";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@section TitleContent
{
    Change your password
}


<div class="container_16">
    <div class="grid_16">
        @Html.Raw(ViewBag.Message)        
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            
                <input type="hidden" id="UserName" name="UserName" value="@ViewBag.UserName"/>
                @Html.ValidationMessageFor(model => model.OldPassword)
                <div class="editor-field">
                    @Html.LabelFor(model => model.OldPassword)
                    @Html.EditorFor(model => model.OldPassword)
                    <span class="helptext">Your current password.</span>
                </div>
                @Html.ValidationMessageFor(model => model.NewPassword)
                <div class="editor-field">
                    @Html.LabelFor(model => model.NewPassword)
                    @Html.EditorFor(model => model.NewPassword)
                    <span class="helptext">Your new password.</span>
                </div>
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                <div class="editor-field">
                    @Html.LabelFor(model => model.ConfirmPassword)
                    @Html.EditorFor(model => model.ConfirmPassword)
                    <span class="helptext">Please confirm the password.</span>
                </div>
                <p>
                    <input type="submit" class="green large button submit" value="Update" />
                </p>
            
            
        }
    </div>
</div>