@model DS.Domain.Category

@{
    ViewBag.Title = "Create category - Admin - DataShare";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage.cshtml";
}

@section TitleContent
{
    Create category
}

<div class="container_16">
    <div class="grid_16">
        @Html.Raw(ViewBag.Message)
        <p class="intro">A category is a storage container for schemas. Create a new category using the options below.</p>
        @using (Html.BeginForm())
        {
            
            @Html.ValidationSummary(true,"Unable to create category, please correct the following:")
                      
                @Html.ValidationMessageFor(model => model.Title)
                <div class="editor-field">
                    
                    @Html.LabelFor(model => model.Title)
                    @Html.EditorFor(model => model.Title)
                    <span class="helptext">The category name.</span>
                    
                </div>

                @Html.ValidationMessageFor(model => model.Description)
                <div class="editor-field">
                    
                    @Html.LabelFor(model => model.Description)
                    @Html.TextAreaFor(model => model.Description, new { @class = "multi-line text-box short" })
                    <span class="helptext">The short description that appears next to the title in category listings (Max length 500 characters).</span>
                </div>

                @Html.ValidationMessageFor(model => model.ImageUrl)
                <div class="editor-field">
                    
                    @Html.LabelFor(model => model.ImageUrl)
                    @Html.EditorFor(model => model.ImageUrl)
                    <span class="helptext">The URL of an image to represent this category.  Images should be 80 pixels square. If no URL is specified a generic image will be used.</span>
                </div>

                <p>
                    <input type="submit" class="green large button submit" value="Create category" />
                </p>
            
        }
    </div>
</div>
